body {
  margin:0;
  padding:0;
  font-family: Sans-Serif;
  line-height: 1.5em;
}

#header {
  height: 75px;
  display: flex;
  align-items: center;
  color: #000000;
  background-color: rgb(255, 207, 0);
  padding-left: 24px;
  padding-right: 24px;
}

#header img {
  height: 55px;
}

#header .title {
  font-size: 16px;
  margin-left: 24px;
}

main {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 100%;
}

#nav {
  padding-bottom: 10010px;
  margin-bottom: -10000px;
  float: left;
  width: 230px;
  margin-left: -100%;
  background-color: rgb(32, 29, 72);
  min-height: calc(100vh - 85px);
  color: white;
  /* background: repeat url(https://149359637.v2.pressablecdn.com/wp-content/uploads/2021/05/Lego-Wallpaper-About-Murals.jpg); */

}

#container {
  display: flex;
  flex-direction: column;
}

#wrapper {
  overflow: hidden;
}

#content {
  margin-left: 230px; /* Same as 'nav' width */
}

.innertube {
  margin: 15px; /* Padding for content */
  margin-top: 0;
}

p {
  color: #555;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: white;
  text-decoration: none;
}
